In [2]:

import pandas as pd
a = pd.read_csv("data.csv")
print(a)
head = a.head(5)
print("\n first 5 rows of the dataset is\n", head)
tail =a.tail(5)
print("\n last five rows of the dataset is \n",tail)
describe = a.describe()
print("\n the data description is \n\n",describe)
sum = a.sum()
print("\n the sum of each column is \n",sum)
max = a.max()
print("\n the maximum value of each column is \n",max)
min = a.min()
print("\n the minimum value of each column is \n",min)
data1 = a[["bedrooms", "bathrooms"]]
standard_deviation = data1.std()
print("\n the standard deviation of price and bedrooms is \n",standard_deviation)
correlation = data1.corr()
print("\n the correlation of price and bedrooms is \n",correlation)
count = a.count()   
print("\n the count of each column is \n",count)
skewness = a.select_dtypes(include='number').skew()
print("\n the skewness of each column is \n\n",skewness)
is_null = a.isnull()
print("\n the number of null values in each column is \n\\n",is_null)
fillna = a.fillna(0)
print("\n the dataset after filling the null values with 0 is \n\n",fillna) 
iloc = a.iloc[0:5,0:3]
print("\n the first five rows and first three columns of the dataset is \n\n",iloc)

                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

 first 5 rows of the dataset is
                   date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-02 00:00:00   313000.0       3.0       1.50         1340      7912
1  2014-05-02 00:00:00  2384000.0       5.0       2.50         3650      9050
2  2014-05-02 00:00:00   342000.0       3.0       2.00         1930     11947
3  2014-05-02 00:00:00   420000.0       3.0       2.25         2000      8030
4  2014-05-02 00:00:00   550000.0       4.0       2.50         1940     10500

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5           0     0          3        1340              0      1955
1     2.0           0     4          5        3370            280      1921
2     1.0           0     0          4        1930              0      1966
3     1.0           0     0          4        1000           1000      1963
4     1.0           0     0          4        1140            800      1976

   yr_renovated                    street       city  statezip country
0          2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1             0           709 W Blaine St    Seattle  WA 98119     USA
2             0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3             0           857 170th Pl NE   Bellevue  WA 98008     USA
4          1992         9105 170th Ave NE    Redmond  WA 98052     USA

 last five rows of the dataset is
                      date          price  bedrooms  bathrooms  sqft_living  \
4595  2014-07-09 00:00:00  308166.666667       3.0       1.75         1510
4596  2014-07-09 00:00:00  534333.333333       3.0       2.50         1460
4597  2014-07-09 00:00:00  416904.166667       3.0       2.50         3010
4598  2014-07-10 00:00:00  203400.000000       4.0       2.00         2090
4599  2014-07-10 00:00:00  220600.000000       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated             street       city  \
4595              0      1954          1979     501 N 143rd St    Seattle
4596              0      1983          2009   14855 SE 10th Pl   Bellevue
4597              0      2009             0   759 Ilwaco Pl NE     Renton
4598           1020      1974             0  5148 S Creston St    Seattle
4599              0      1990             0  18717 SE 258th St  Covington

      statezip country
4595  WA 98133     USA
4596  WA 98007     USA
4597  WA 98059     USA
4598  WA 98178     USA
4599  WA 98042     USA

 the data description is

               price     bedrooms    bathrooms   sqft_living      sqft_lot  \
count  4.600000e+03  4600.000000  4600.000000   4600.000000  4.600000e+03
mean   5.519630e+05     3.400870     2.160815   2139.346957  1.485252e+04
std    5.638347e+05     0.908848     0.783781    963.206916  3.588444e+04
min    0.000000e+00     0.000000     0.000000    370.000000  6.380000e+02
25%    3.228750e+05     3.000000     1.750000   1460.000000  5.000750e+03
50%    4.609435e+05     3.000000     2.250000   1980.000000  7.683000e+03
75%    6.549625e+05     4.000000     2.500000   2620.000000  1.100125e+04
max    2.659000e+07     9.000000     8.000000  13540.000000  1.074218e+06

            floors   waterfront         view    condition   sqft_above  \
count  4600.000000  4600.000000  4600.000000  4600.000000  4600.000000
mean      1.512065     0.007174     0.240652     3.451739  1827.265435
std       0.538288     0.084404     0.778405     0.677230   862.168977
min       1.000000     0.000000     0.000000     1.000000   370.000000
25%       1.000000     0.000000     0.000000     3.000000  1190.000000
50%       1.500000     0.000000     0.000000     3.000000  1590.000000
75%       2.000000     0.000000     0.000000     4.000000  2300.000000
max       3.500000     1.000000     4.000000     5.000000  9410.000000

       sqft_basement     yr_built  yr_renovated
count    4600.000000  4600.000000   4600.000000
mean      312.081522  1970.786304    808.608261
std       464.137228    29.731848    979.414536
min         0.000000  1900.000000      0.000000
25%         0.000000  1951.000000      0.000000
50%         0.000000  1976.000000      0.000000
75%       610.000000  1997.000000   1999.000000
max      4820.000000  2014.000000   2014.000000

 the sum of each column is
 date             2014-05-02 00:00:002014-05-02 00:00:002014-05-...
price                                            2539029746.976785
bedrooms                                                   15644.0
bathrooms                                                  9939.75
sqft_living                                                9840996
sqft_lot                                                  68321574
floors                                                      6955.5
waterfront                                                      33
view                                                          1107
condition                                                    15878
sqft_above                                                 8405421
sqft_basement                                              1435575
yr_built                                                   9065617
yr_renovated                                               3719598
street           18810 Densmore Ave N709 W Blaine St26206-26214...
city             ShorelineSeattleKentBellevueRedmondSeattleRedm...
statezip         WA 98133WA 98119WA 98042WA 98008WA 98052WA 981...
country          USAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAU...
dtype: object

 the maximum value of each column is
 date             2014-07-10 00:00:00
price                     26590000.0
bedrooms                         9.0
bathrooms                        8.0
sqft_living                    13540
sqft_lot                     1074218
floors                           3.5
waterfront                         1
view                               4
condition                          5
sqft_above                      9410
sqft_basement                   4820
yr_built                        2014
yr_renovated                    2014
street             Valley View Trail
city                    Yarrow Point
statezip                    WA 98354
country                          USA
dtype: object

 the minimum value of each column is
 date             2014-05-02 00:00:00
price                            0.0
bedrooms                         0.0
bathrooms                        0.0
sqft_living                      370
sqft_lot                         638
floors                           1.0
waterfront                         0
view                               0
condition                          1
sqft_above                       370
sqft_basement                      0
yr_built                        1900
yr_renovated                       0
street                  1 View Ln NE
city                          Algona
statezip                    WA 98001
country                          USA
dtype: object

 the standard deviation of price and bedrooms is
 bedrooms     0.908848
bathrooms    0.783781
dtype: float64

 the correlation of price and bedrooms is
            bedrooms  bathrooms
bedrooms    1.00000    0.54592
bathrooms   0.54592    1.00000

 the count of each column is
 date             4600
price            4600
bedrooms         4600
bathrooms        4600
sqft_living      4600
sqft_lot         4600
floors           4600
waterfront       4600
view             4600
condition        4600
sqft_above       4600
sqft_basement    4600
yr_built         4600
yr_renovated     4600
street           4600
city             4600
statezip         4600
country          4600
dtype: int64

 the skewness of each column is

 price            24.790933
bedrooms          0.456447
bathrooms         0.616033
sqft_living       1.723513
sqft_lot         11.307139
floors            0.551441
waterfront       11.682901
view              3.341586
condition         0.959068
sqft_above        1.494211
sqft_basement     1.642732
yr_built         -0.502155
yr_renovated      0.385919
dtype: float64

 the number of null values in each column is
\n        date  price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0     False  False     False      False        False     False   False
1     False  False     False      False        False     False   False
2     False  False     False      False        False     False   False
3     False  False     False      False        False     False   False
4     False  False     False      False        False     False   False
...     ...    ...       ...        ...          ...       ...     ...
4595  False  False     False      False        False     False   False
4596  False  False     False      False        False     False   False
4597  False  False     False      False        False     False   False
4598  False  False     False      False        False     False   False
4599  False  False     False      False        False     False   False

      waterfront   view  condition  sqft_above  sqft_basement  yr_built  \
0          False  False      False       False          False     False
1          False  False      False       False          False     False
2          False  False      False       False          False     False
3          False  False      False       False          False     False
4          False  False      False       False          False     False
...          ...    ...        ...         ...            ...       ...
4595       False  False      False       False          False     False
4596       False  False      False       False          False     False
4597       False  False      False       False          False     False
4598       False  False      False       False          False     False
4599       False  False      False       False          False     False

      yr_renovated  street   city  statezip  country
0            False   False  False     False    False
1            False   False  False     False    False
2            False   False  False     False    False
3            False   False  False     False    False
4            False   False  False     False    False
...            ...     ...    ...       ...      ...
4595         False   False  False     False    False
4596         False   False  False     False    False
4597         False   False  False     False    False
4598         False   False  False     False    False
4599         False   False  False     False    False

[4600 rows x 18 columns]

 the dataset after filling the null values with 0 is

                      date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

 the first five rows and first three columns of the dataset is

                   date      price  bedrooms
0  2014-05-02 00:00:00   313000.0       3.0
1  2014-05-02 00:00:00  2384000.0       5.0
2  2014-05-02 00:00:00   342000.0       3.0
3  2014-05-02 00:00:00   420000.0       3.0
4  2014-05-02 00:00:00   550000.0       4.0

In [15]:
print(("the first five columns of the dataset is"))
columns = a.iloc[:, 0:5]
print(columns)

the first five columns of the dataset is
                     date         price  bedrooms  bathrooms  sqft_living
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

[4600 rows x 5 columns]